<ul id="post-list" class="archive readmore">
    <h3>{{ .Site.Params.readMore | default "Read more" }}</h3>

    {{ $kind := where .Site.RegularPages "Section" "!=" "" }}
    {{ $othr := where $kind "URL" "!=" .URL }}
    {{ range first 9 $othr }}
        {{ if .Params.external_url }}
            <li>
		        <a href="{{ .Params.external_url }}">{{ humanize .Section }}: {{ .LinkTitle }}<aside class="dates">{{ .Date.Format "January 02, 2006" }}</aside></a><br/>
		        {{ .Description }}
            </li>
        {{ else }}
            <li>
		        <a href="{{ .URL }}">{{ humanize .Section }}: {{ .LinkTitle }}<aside class="dates">{{ .Date.Format "January 02, 2006" }}, {{ .ReadingTime }} min reading time</aside></a><br/>
		        {{ .Description }}
            </li>
        {{ end }}
    {{ end }}
</ul>
