{{ define "profile" }}
	{{ partial "profile.html" . }}
{{ end }}

{{ define "main" }}
	    {{ range .Paginator.Pages.GroupBy "Type" }}
	<ul id="post-list">
	    <h3>{{ .Key }}</h3>
	    {{ range .Pages }}
	        <li>
            	    <a href='{{ .Params.external_url }}'><aside class="dates">{{ .Date.Format "Jan 2 2006" }}</aside></a>
	            <a href='{{ .Params.external_url }}'>{{ .LinkTitle }}<h2>{{ .Description | markdownify }}</h2></a>
	        </li>
	    {{ end }}
	</ul>
	<br/>
	<br/>
	    {{ end }}
	{{ partial "pagination.html" . }}
{{ end }}
